.header {
  position: relative;
  z-index: 2;
}

.header__logo {
  padding: 10px;
  float: left;
  margin-left: 6px;

  svg.icon {
    display: inline-block;
    width: 32px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    vertical-align: middle;
  }
}

.header-temp {
  float: right;
  font-size: 14px;
  font-weight: 700;
  padding: 18px;

  .header-temp__btn {
    display: inline-block;
    position: relative;
    padding: 0 4px;
  }

  > span:nth-child(1)::before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 4px;
    right: 4px;
    height: 2px;
    background-color: $color-grey-900;
  }
}