.header {
	height: 100px;
	border-bottom: solid 2px #d3d3d3;
	padding: 0 40px;
	overflow: hidden;
}

.header__logo {
	width: 100px;
	text-align: center;
	display: inline-block;

	svg.icon {
		width: 36px;
		height: 36px;
		fill: #a3a3a3;
	}
}

.header__app-name {
	color: #a3a3a3;
	font-size: 24px;
	width: 100px;
	text-align: center;
	display: inline-block;
}