.btn {
  background: $color-grey-100;
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 7px 8px;
  cursor: pointer;
	font-weight: 500;
  font-family: $font-family-base;
  transition: box-shadow 50ms ease;

  svg.icon {
    vertical-align: bottom;
    height: 16px;
    width: 16px;
  }

  &:active {
    box-shadow: inset 0 4px 10px rgba(black, .2);
  }

  &:focus, &:active {
    outline: none;
  }

	&[disabled], &[disabled]:hover {
		background-color: rgba(#000, .3);
	}

}

.btn-primary {
  background-color: $color-primary-500;
  color: #fff;

  svg.icon {
    fill: #fff;
  }

  &:hover {
    background-color: $color-primary-600;
  }
}

.btn-primary-line {
  border-color: $color-primary-500;
  background-color: transparent;
  color: $color-primary-500;

  svg.icon {
    fill: $color-primary-500;
  }

  &:hover {
    border-color: transparent; // the active shadow looks weird without this transparent
    background-color: $color-primary-500;
    color: #fff;
  }

	&.isActive {
		background-color: $color-primary-500;
		color: #fff;
	}
}

.btn-accent {
  background-color: $color-accent-500;
  color: #fff;

  svg.icon {
    fill: #fff;
  }

  &:hover {
    background-color: $color-accent-600;
  }
}

.btn-white {
  background-color: $color-silver;
  color: $color-primary-700;

  svg.icon {
    fill: $color-primary-700;
  }
}

.btn-white-line {
  background: transparent;
  border-color: $color-silver;
  color: #fff;

  svg.icon {
    fill: #fff;
  }

  &:hover {
    background-color: $color-silver;
    color: $color-primary-700;

    svg.icon {
      fill: $color-primary-700;
    }
  }
}

.btn-success {
  background-color: $color-success-600;
  color: #fff;

  &:hover {
    background-color: $color-success-700;
  }
}

.btn-white-transparent {
  background-color: transparent;
  color: #fff;

  svg.icon {
    fill: #fff;
  }

  &:hover, &.active {
    background-color: rgba(#000, .1);
	  opacity: 1;
  }
}

.btn-success {
  background-color: $color-success-600;
  color: #fff;

  svg.icon {
    fill: #fff;
  }
}

.btn-grey-transparent {
  background-color: transparent;
  color: $color-grey-500;

  svg.icon {
    fill: $color-grey-500;
  }

  &:hover {
    background-color: $color-grey-50;
  }
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  height: 26px;
  padding: 0 4px;
  color: $color-grey-100;
  background-color: transparent;

  svg.icon {
    height: 16px;
    width: 16px;
    fill: $color-grey-400;
  }

  &:hover, &:active {
    background-color: rgba(#000, .05);
  }

  &.btn-close-light svg.icon {
    fill: #fff;
  }
}

.btn-square {
	width: 24px;
	height: 24px;
	padding: 0;

	icon.svg {

	}
}

.btn-lg {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;

  svg.icon {
    height: 20px;
    width: 20px;
  }
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-round {
  @extend .btn;
  border-radius: 50px;
  padding-left: 14px;
  padding-right: 14px;
}
