.getting-started {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.getting-started__logo {
	text-align: center;
	color: #fff;
	margin: 40px 0 20px 0;

	i {
		font-size: 40px;
	}

	span {
		display: block;
		font-size: 30px;
		font-weight: 900;
		margin-top: -10px;
	}
}

.getting-started__container {
	width: 400px;
	background-color: #fff;
	border-radius: $border-radius-base;
	box-shadow: 0 1px 0 rgba(#000, .2);
	padding: 20px;
	margin-bottom: 40px;
}

