<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="msapplication-tap-highlight" content="no" />
  <title>Cloudy</title>

  <link rel="icon" type="image/png" href="assets/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon-64.png" sizes="64x64">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
</head>
<body>
<div id="app"></div>
</body>
</html>